<div class="banner-background banner-background--about-me">
  <section class="banner banner--about-me">
    <div class="banner__container banner__container--about-me">
      <div class="banner__content banner__content--about-me">
        <div class="banner__top banner__top--about-me">
          <h2 class="banner__title banner__title--about-me">
            {{t 'pages.home.banners.about-me.title'}}
          </h2>
        </div>
        <div class="banner__details">
          <ul>
            <li>{{t 'pages.home.banners.about-me.line-1'}}</li>
            <li>{{t 'pages.home.banners.about-me.line-2'}}</li>
            <li>{{t 'pages.home.banners.about-me.line-3'}}</li>
            <li><
              a href="https://www.dropbox.com/s/qk6kit4bvp4vcd4/freelance_full-stack_developer.pdf?dl=0"
                   target="_blank" rel="noopener noreferrer"
              >
                {{t 'pages.home.banners.about-me.line-4'}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
