<div class="banner-background banner-background--services">
  <section class="banner banner--services" id="banner-services">
    <div class="banner__container banner__container--services">
      <div class="banner__content banner__content--services">
        <div class="banner__top banner__top--services">
          <h2 class="banner__introduction banner__introduction--services">
          {{t 'pages.home.banners.services.introduction'}}
          </h2>
          <h2 class="banner__title banner__title--services">
            {{t 'pages.home.banners.services.title'}}
          </h2>
        </div>
        <Carousels::Carousel>
          <Carousels::Card
            @name="frontend"
            @description= {{t "pages.home.banners.services.card.frontend.description" }}
            @imgSrc="{{this.rootURL}}assets/images/services/frontend.jpg"
            @imgAlt= {{t "pages.home.banners.services.card.frontend.alt" }}
          />
          <Carousels::Card
            @name="backend"
            @description= {{t "pages.home.banners.services.card.backend.description" }}
            @imgSrc="{{this.rootURL}}assets/images/services/backend.jpg"
            @imgAlt= {{t "pages.home.banners.services.card.backend.alt" }}
          />

          <Carousels::Card
            @name="devops"
            @description= {{t "pages.home.banners.services.card.devops.description" htmlSafe=true }}
            @imgSrc="{{this.rootURL}}assets/images/services/devops.jpg"
            @imgAlt= {{t "pages.home.banners.services.card.devops.alt" }}
          />
          <Carousels::Card
            @name="coaching"
            @description= {{t "pages.home.banners.services.card.coaching.description" htmlSafe=true }}
            @imgSrc="{{this.rootURL}}assets/images/creations/coaching.jpg"
            @imgAlt= {{t "pages.home.banners.services.card.coaching.alt" }}
          />
        </Carousels::Carousel>
      </div>
    </div>
  </section>
</div>
