<div class="banner-background banner-background--services">
  <section class="banner banner--services" id="banner-services">
    <div class="banner__container banner__container--services">
      <div class="banner__content banner__content--services">
        <div class="banner__top banner__top--services">
          <h2 class="banner__introduction banner__introduction--services">
            {{t 'pages.home.banners.services.introduction'}}
          </h2>
          <h2 class="banner__title banner__title--services">
            {{t 'pages.home.banners.services.title'}}
          </h2>
        </div>
        <Carousels::Carousel>
{{!--           <Carousels::Card --}}
{{!--               @name="Maintenance" --}}
{{!--               @description="{{t "pages.home.banners.services.card.frontend.description" }}" --}}
{{!--               @imgSrc="{{this.rootURL}}assets/images/services/frontend.webp" --}}
{{!--               @imgAlt= {{t "pages.home.banners.services.card.frontend.alt" }} --}}
{{!--           /> --}}
{{!--           <Carousels::Card --}}
{{!--             @name="SEO" --}}
{{!--             @description="{{t "pages.home.banners.services.card.frontend.description" }}" --}}
{{!--             @imgSrc="{{this.rootURL}}assets/images/services/frontend.webp" --}}
{{!--             @imgAlt= {{t "pages.home.banners.services.card.frontend.alt" }} --}}
{{!--           /> --}}
          <Carousels::Card
            @name="frontend"
            @description="{{t "pages.home.banners.services.card.frontend.description" }}"
            @imgSrc="{{this.rootURL}}assets/images/services/frontend.webp"
            @imgAlt= {{t "pages.home.banners.services.card.frontend.alt" }}
          />
          <Carousels::Card
            @name="backend"
            @description= "{{t "pages.home.banners.services.card.backend.description" }}"
            @imgSrc="{{this.rootURL}}assets/images/services/backend.webp"
            @imgAlt= {{t "pages.home.banners.services.card.backend.alt" }}
          />
          <Carousels::Card
            @name="devops"
            @description={{t "pages.home.banners.services.card.devops.description" htmlSafe=true}}
            @imgSrc="{{this.rootURL}}assets/images/services/devops.webp"
            @imgAlt= {{t "pages.home.banners.services.card.devops.alt" }}
          />
          <Carousels::Card
            @name="mentoring"
            @description={{t "pages.home.banners.services.card.mentoring.description" htmlSafe=true}}
            @imgSrc="{{this.rootURL}}assets/images/creations/mentoring.webp"
            @imgAlt= {{t "pages.home.banners.services.card.mentoring.alt" }}
          />
        </Carousels::Carousel>
      </div>
    </div>
  </section>
</div>
