<footer>
  <div class="content-wrapper">
    <div class="content__social-medias md:w-1/2 lg:1/3;">
      <h3 class="content-title">{{t "social-medias.title"}}</h3>

      <ul class="links-list">
        <li class="link_social-medias">
          <a href="https://www.twitter.com/daproclaima">
            <img src="{{this.rootURL}}assets/icons/twitter.svg"
                 alt="{{t "social-medias.links.twitter.alt"}}" class="svg"
            >
          </a>
        </li>
        <li class="link_social-medias">
          <a href="https://www.linkedin.com/in/sebastien-nobour">
            <img src="{{this.rootURL}}assets/icons/linked-in.svg"
                 alt="{{t "social-medias.links.linked-in.alt"}}" class="svg"
            >
          </a>
        </li>
        <li class="link_social-medias">
          <a href="https://github.com/daproclaima">
            <img src="{{this.rootURL}}assets/icons/github.svg"
                 alt="{{t "social-medias.links.linked-in.alt"}}" class="svg"
            >
          </a>
        </li>
        <li class="link__social-medias">
          <a href="https://www.instagram.com/devedanos">
            <img src="{{this.rootURL}}assets/icons/instagram.svg"
                 alt="{{t "social-medias.links.instagram.alt"}}" class="svg"
            >
          </a>
        </li>
        <li class="link_social-medias">
          <a href="https://www.facebook.com/SebastienNobour">
            <img src="{{this.rootURL}}assets/icons/facebook.svg"
                 alt="{{t "social-medias.links.facebook.alt"}}" class="svg"
            >
          </a>
        </li>
      </ul>
    </div>
    <div class="content__quick-links md:w-1/2 lg:1/3">
      <h3 class="content-title">{{t "quick-links.title"}}</h3>
      <ul class="links-list">
        <li class="link__quick-links">
          <LinkTo @route="index" class="text-white" aria-current="page">{{t "links.home"}}</LinkTo>
        </li>
        <li class="link__quick-links">
          <LinkTo @route="legal-notices" class="text-white" aria-current="page">{{t "links.legal-notices"}}</LinkTo>
        </li>
      </ul>
    </div>
    <div class="content__contacts lg:1/3">
      <h3 class="content-title">{{t "contacts.title"}}</h3>
      <ul class="links-list__contacts">
        <li class="link__contacts">
          <img src="{{this.rootURL}}assets/icons/phone.svg" alt="{{t "contacts.phone.alt"}}" class="svg">
          <a href="tel:+3358501427">{{t "contacts.phone.title"}}</a>
        </li>
        <li class="link__contacts">
          <img src="{{this.rootURL}}assets/icons/email.svg" alt="{{t "contacts.phone.alt"}}" class="svg">
          <a href="mailto: {{t "contacts.email.title"}}">{{t "contacts.email.title"}}</a>
        </li>
        <li class="link__contacts">
          <img src="{{this.rootURL}}assets/icons/location-pin.svg" alt="{{t "contacts.location.alt"}}" class="svg">
          <a href="https://goo.gl/maps/1tHtvyCfWf3f1STF8">{{t "contacts.location.title"}}</a>
        </li>
        <li class="link__contacts">
          <img src="{{this.rootURL}}assets/icons/handshake.svg" alt="{{t "contacts.vat.alt"}}" class="svg">
          <ul>
            <li>{{t "contacts.vat.siret"}}</li>
            <li>{{t "contacts.vat.international"}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="credits">
    <img class="w-4/12 sm:w-1/12 mx-auto mb-2"
         src="{{this.rootURL}}assets/images/devedanos/web/svg/white-logo-no-background.svg"
         alt="{{t "devedanos-logo"}}">
    <p class="mx-auto">
      {{t "credits.developed"}}
      <a href="https://jamstack.org/generators/empress-blog/">
        {{t "credits.empress"}}
      </a>
      {{t "credits.by"}}
    </p>
    <p class="mx-auto mt-2">
      <a href="https://github.com/SEBASTIEN-THIBAUT-NOBOUR/devedanos-portfolio">
        {{t "credits.source-code"}}
      </a>
    </p>
  </div>
</footer>
