<button type="button" aria-label="{{t "navbar.nav-main.language-picker.aria-label"}}" title="{{this.imageAltMessage}}"
        aria-expanded="false" aria-controls="language-picker-dropdown" class="button language-picker__button"
        data-test="language-picker-button"
  {{on "click" this.showLanguages}}
>
  <span aria-hidden="true" class="language-picker__flag--english"></span>
{{!--  <FaIcon @icon="globe" />--}}
  <img id='language-picker__button-image' src='{{this.rootURL}}assets/icons/globe.svg'
       alt="{{this.imageAltMessage}}"
  >
</button>
<div
  class="language-picker__dropdown hidden"
  aria-describedby="language-picker-description"
  id="language-picker-dropdown"
>
  <p class="sr-only" id="language-picker-description">{{t "navbar.nav-main.language-picker.description"}}</p>
  <ul class="language-picker__list" role="listbox" data-test="language-picker-list">
    <li lang="fr" role="option" data-value="fr-fr" data-test="language-picker-fr-fr"
        class="language-picker__flag language-picker__flag--french"
      {{on "click" this.changeLanguage}}
    >
      {{t "languages.list.fr-fr"}}
    </li>
    <li lang="en" role="option" data-value="en-us" data-test="language-picker-en-us"
        class="language-picker__flag language-picker__flag--english"
      {{on "click" this.changeLanguage}}
    >
      {{t "languages.list.en-us"}}
    </li>
  </ul>
</div>
