<nav class="navbar" id="navbar">
  <div class="navbar__left-content w-2/5 sm:w-auto">
    <LinkTo @route="index" class="nav-link-logo nav-link-logo--sm" aria-current="page">
      <img src="{{this.rootURL}}assets/images/devedanos/web/svg/color-logo-no-background.svg" class="nav-logo logo--sm"
           alt="{{t "links.home-logo"}}">
    </LinkTo>

    <div class="navbar__language-picker">
      <LanguagePicker />
    </div>

    <LinkTo @route="index" class="nav-link-logo nav-link-logo--xs" aria-current="page">
      <img src="{{this.rootURL}}assets/images/devedanos/web/svg/color-logo-no-background.svg" class="nav-logo logo--xs"
           alt="{{t "links.home-logo"}}">
    </LinkTo>
  </div>
  <div class="navbar__right-content">
    <button type="button" class="navbar__contact-button" data-test="nav-cta-button"
      {{on "click" this.clickCta}}
    >
      {{t "navbar.nav-main.contact.text"}}
    </button>
  </div>
</nav>
