<FormBuilder @for={{this}} @action={{this.submit}} as |f|>
  <div class="contact-form">
    <f.input @attr="full-name" @label={{t "forms.contact.full-name.label"}} @type="string" @wrapper="full-name"/>
    <f.input @attr="email" @label={{t "forms.contact.email.label"}} @type="email" @wrapper="email"/>
  </div>
  <f.input @attr="message" type="text" @wrapper="message"/>
  <f.submit class="contact-form__submit">
    {{t "forms.contact.submit.title"}}
  </f.submit>
</FormBuilder>
