<div class="carousel__card carousel__card--creations">
  <div class="carousel__card-content">
    <h1 class="mb-1"><a href="{{ @url }}" class="text-base font-medium">{{ @urlName }}</a></h1>
    <p class="mb-1 h-12">{{ @description }}</p>
    <LinkTo @route="index" class="invisible text-base font-medium" aria-current="page">
      {{t "buttons.details"}}
    </LinkTo>
    <a href="{{ @url }}">
      <img src="{{@imgSrc}}" alt="{{@imgAlt}}" class="carousel__card-img">
    </a>
  </div>
</div>
