{{page-title (t "links.legal-notices")}}
<div class="page page--legal-notices">
  <h1>{{t "pages.legal-notices.title"}}</h1>
  <p>{{t "pages.legal-notices.paragraph-1"}}</p>
  <p>{{t "pages.legal-notices.paragraph-2"}}</p>
  <p>{{t "pages.legal-notices.paragraph-3"}}</p>
  <p>{{t "pages.legal-notices.paragraph-4"}}</p>
  <p>{{t "pages.legal-notices.paragraph-5"}}</p>
  <p>{{t "pages.legal-notices.paragraph-6"}}</p>
</div>
