{{page-title (t "pages.legal-notices.title")}}
<div class="page page--legal-notices">
  <h1 class="legal-notices__title">{{t "links.legal-notices"}}</h1>
  <p class="legal-notices__paragraph">{{t "pages.legal-notices.paragraph-1"}}</p>
  <p class="legal-notices__paragraph">{{t "pages.legal-notices.paragraph-2"}}</p>
  <p class="legal-notices__paragraph">{{t "pages.legal-notices.paragraph-3"}}</p>
  <p class="legal-notices__paragraph">{{t "pages.legal-notices.paragraph-4"}}</p>
  <p class="legal-notices__paragraph">{{t "pages.legal-notices.paragraph-5"}}</p>
  <p class="legal-notices__paragraph">{{t "pages.legal-notices.paragraph-6"}}</p>
</div>
